#app-container {
  width: 350px;
  height: 100vH;
}

button.analyzeBtn {
  padding: 5px;
  font-weight: bold;
  margin:0 auto;
  display:block;
  width: 50%;
}

button:hover {
  cursor: pointer;
}


.sentiment {
  margin-top: 0;
  text-align: center;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.bold {
  font-weight: bold;
}

.speedometerContain {
  text-align: center;
}

.speedometer .current-value,
.speedometer .label {
  display: none;
}

.analysisContain {
  text-align: center;
}

.wordList.false {
  display: none;
}

.wordlist.true {
  display: block;
}

ul {
  padding: 0;
  margin: 10px auto;
}

li {
  margin: 5px;
  list-style-type: none;
}
