#app-container {
  width: 350px;
  height: 100vH;
}

button {
  padding: 5px;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

.positive {
  color: green;
}

.negative {
  color: red;
}
